@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
  scroll-behavior: smooth;
background: rgb(92,168,255);
background: linear-gradient(0deg, rgba(92,168,255,1) 1%, rgba(108,168,255,1) 34%, rgba(242,242,242,1) 100%);
  min-height: 100vh;
  overflow-x: hidden;
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
  max-width: 1200px;
  margin: 0 auto;

}

.nav {
  font-family: 'Open Sans', sans-serif;;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #144178;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.nav.active a {
  color: #000;
}


.nav a.current,
.nav a:hover {
  color: #ebbe87;
 
  font-weight: bold;
}
.title{
  font-family: 'Open Sans ',sans-serif;
    text-align: center;
    text-transform: capitalize;
    color:#144178;
    margin: 50px 0;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #144178);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid transparent;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: #144178;
    margin: 15px 0;
}

.member p{
  font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    
    line-height: 1.6;
}
i {
  color: #144178;
}
i h5 {
  color: black;
  font-family:  'Montserrat', sans-serif;
}